* {
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-size: 2rem;
    text-align: center;
    background-color: gold;
    padding: 20px;
    font-weight: 700;
}

.exercise-1 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
}